*,
*::before,
*::after {
  box-sizing: border-box;
}
/* theme colors */
:root {
  --light-grey:#D9D9D9;
  --text-color: #FFFFFF;
  --aqua: #38D0CE;
  --dark-grey:#696767;
  --card-bg-color: #A19F9F;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Pixelify Sans", system-ui;
  background-color: #3e3c3c;
}

header {
  background-color: var(--dark-grey);
  margin: 0px;
  color: var(--aqua);
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  padding: 10px;
}

#timer {
  background-color:var(--light-grey);
  margin: 25px auto;
  display: flex;
  width: 70%;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 10px 20px rgb(30, 30, 30);
  border-radius: 10px;
  padding: 7px;
}
#timer h5{
  margin: 0px;
}

h1 {
  text-align: center;
  letter-spacing: 0.15em;
}

.container {
  width: 70%;
  padding: 20px;
  margin: 25px auto;
  background-color: var(--light-grey);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 10px 20px rgb(30, 30, 30);
  border-radius: 10px;
}

.boxContainer {
  display: block;
  float: left;
  width: 31%;
  height: 200px;
  margin: 1%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 8px;
  background-color: var(--card-bg-color);
  text-align: center;
  line-height: 200px;
  font-size: 150px;
  color: whitesmoke;

  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background-color: var(--card-bg-color);
  box-shadow: 0px 10px 5px rgb(66, 66, 66);
  border-radius: 10px;
}
.boxContainer:hover{
  transform: scale(1.05);
}
.boxContainer.flipped{
  transform: rotateY(180deg);
}
.boxFront{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgb(103, 145, 157);
  border-radius: 10px;
}
.boxBack{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgb(91, 97, 99);
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.modal-content {
  color: var(--aqua);
  background-color: rgb(97, 97, 97);
  border-color: rgb(199, 196, 196);
}

.btn-primary {
  background-color:#38D0CE;
  border: none;
}
.btn-primary:hover{
  background-color: #2b9390;
}
/* Input field */
#playerName {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 22px);
  margin-bottom: 20px;
}

/* Start button */
.start-btn {
  background-color: black!important;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Pixelify Sans", system-ui;
}

.start-btn:hover {
  background-color: black;
  color: var(--aqua);
}


@media (max-width: 540px) {
  .boxContainer {
    width: 48%;
  }
}
